.error {
  border: 2px solid red;
}

.news__line {
  height: 2px;
  width: 75%;
  margin: 10px auto;
  color: #000;
  border: 1px solid black;
}

.user__data {
  display: inline-block;
  margin-bottom: 50px;
  border-bottom: 1px solid slategrey;
}

.user__avatar {
  width: 200px;
  margin-right: 50px;
}

.user {
  margin-bottom: 50px;
}
