.error {
  border: 2px solid red;
}

.news__line {
  height: 2px;
  width: 75%;
  margin: 10px auto;
  color: #000;
  border: 1px solid black;
}

.user__avatar {
  width: 200px;
}

.user {
  margin-bottom: 50px;
}

.article__image {
  margin-bottom: 20px;
}
