.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.nav-link {
  color: white;
}

.button_logout {
  background-color: #303030;
  color: white;
  border: none;
}


