.select_wrapper {
  width: 200px;
  margin: 0 20px;
}

.filter_button {
  display: block;
  margin: 0 auto;
}

.center {
  margin: 0 auto 20px;
}

.toggle_button {
  display: block;
  float: right;
}

.news__title {
  //float: left;
}

.news__image {
  float: left;
}

.news__line {
  height: 2px;
  width: 75%;
  margin: 10px auto;
  color: #000;
  border: 1px solid black;
}

a {
  cursor: pointer;
}
